div.row#span-sheet > #span-header {
  height: 20%;
  position: relative;
  overflow: hidden;
}
div.row#span-sheet.expanded > #span-header {
  height: 12.4%;
  overflow: hidden;
}
div.row#span-header > .block {
  width: 20%;
  overflow: hidden;
}
div.row#span-header > #elem-help {
  width: auto;
  position: absolute;
  left: 5%;
  margin-top: 0.8em;
  text-align: left;
  cursor: pointer;
}
div.row#span-header > h1 {
  display: block;
  position: absolute;
  top: 0.5em;
  left: 20%;
  width: 60%;
}

div.row#span-header > #elem-author {
  top: 1.5em;
  float: right;
  text-align: right;
  margin-right: 5%;
  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
div.block#elem-help > p {
  display: inline;
  font-weight: bold;
}

/* Notes Added By */
.note-tt {
  display: none;
  position: relative;
  padding: 5px;
  margin: 3px;
  margin-top: -1.75em;
  left: 100%;
  width: calc(100% - 10px);
  background: rgba(255, 234, 171, 0.8);
  float: left;
  font-size: 80%;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid;

  -webkit-box-shadow: 0px 0px 8px 2px rgba(31,57,62,0.5);
  -moz-box-shadow: 0px 0px 8px 2px rgba(31,57,62,0.5);
  box-shadow: 0px 0px 8px 2px rgba(31,57,62,0.5);
}
.note-tt > p {
  display: inline;
  word-wrap: break-word;
}
.span-system > .col-chord:last-of-type > .elem-note > .note-tt {
  left: -100%;
}
.elem-note:hover > .note-tt {
  display: block;
}



.tooltip.user-tt {
  width: auto;
  max-width: 500px;
  padding: 8px 10px;
}
.tooltip.user-tt > p {
  display: inline;
}
.tooltip.user-tt#tt-title {
  background: rgba(247,159,72,0.8);
  color: #1F393E;
  right: 30%;
}
.tooltip.user-tt#tt-author {
  background: rgba(223,91,78,0.8);
  color: #1F393E;
  right: 6.5%;
}





div.row#span-sheet > #span-music {
  height: 80%;
  overflow: visible;
}

div.row#span-music > .span-system {
  width: 90%;
  margin: 20px auto;
  height: 9.8em;
  background: #EEC957;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);

  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 0px solid;
}
div.row#span-music > .span-system:first-of-type {
  margin-top: 0;
}

/* BEAT */
section.span-system > .col-chord {
  width: calc(12.5% - 1px);
  height: 100%;
  border-right: 1px solid #1F393E;
  float: left;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
section.span-system > .col-chord:nth-of-type(4n) {
  width: calc(12.5% - 3px);
  border-right-width: 3px;
}
section.span-system > .col-chord.playing {
  background: #208B9D;

  transition: background-color 1s;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
}


/* NOTES */
article.elem-note {
  padding: 0.1em 0;
  width: 90%;
  margin: 0.3em auto;
  background: #DF5B4E;
  color: #1F393E;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid;

  -webkit-box-shadow: 1px 1px 8px 0px rgba(31,57,62,1);
  -moz-box-shadow: 1px 1px 8px 0px rgba(31,57,62,1);
  box-shadow: 1px 1px 8px 0px rgba(31,57,62,1);
}
article.elem-note#dragmenote {
  padding: 5px 15px;
  width: auto;
  display: none;
  position: relative;
  z-index: 999;
}
article.elem-note > .note-delete {
  float: right;
  margin-top: -1.25em;
  margin-right: 0.25em;
  display: none;
  cursor: pointer;
}
article.elem-note:hover > .note-delete {
  display: block;
}
